{% extends 'base.html.twig' %}

{% set author_fullname = (author.firstName ~ ' ' ~ author.LastName)|title %}

{% block title %}{{ author_fullname }}{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ author_fullname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Books: {{ books|length }}
            </h6>

            <p class="card-text">{{ author.notes }}</p>
            {% if books %}
                {% for book in books %}
                    <p>
                        <a href="/book/{{ book['book_id']}}" class="card-link">{{ book['title']}}</a>
                    </p>
                {% endfor %}

            {% else %}

            {% endif %}

            <a href="/author/edit/{{ author.id }}" class="card-link">Edit</a>
        </div>
    </div>

    <hr>
    <a href="/authors">Back to Authors List</a>
{% endblock %}
